<%= form_for(@bonu) do |f| %>
  <% if @bonu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bonu.errors.count, "error") %> prohibited this bonu from being saved:</h2>

      <ul>
      <% @bonu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br>
    <%= f.text_field :expiration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
