<p id="notice"><%= notice %></p>

<h1>Listing Bonus</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th>Value</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus.each do |bonu| %>
      <tr>
        <td><%= bonu.title %></td>
        <td><%= bonu.description %></td>
        <td><%= bonu.photo %></td>
        <td><%= bonu.value %></td>
        <td><%= bonu.expiration %></td>
        <td><%= link_to 'Show', bonu %></td>
        <td><%= link_to 'Edit', edit_bonu_path(bonu) %></td>
        <td><%= link_to 'Destroy', bonu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonu', new_bonu_path %>
