<p id="notice"><%= notice %></p>
<h1>Coupon's</h1>


  <% @coupons.each do |coupon| %>
    <div class="coupon row">
        <div class="imagen_coupon col-md-3">
          <p><%= image_tag(coupon.photo, width: '250')%></p>
        </div>

        <div class="info_coupon col-md-9">
          
          <div class="title"><%= coupon.title %></div>
          <h2>Value</h2>
          <div class="value"><%= coupon.value %></div>
          <h2>Category</h2>
          <p> aqui va una categoria</p>
          <h2>Description</h2>
          <p><%= coupon.description %></p>
          <h2>Expiration</h2>
          <p><%= coupon.expiration %></p>
          <h2>Author</h2>
          <p><%= coupon.user.email %></p>

          <h2>Like</h2>
          <div class="like">
            <% if can? :upvote, coupon %>
                <%= link_to like_coupon_path(coupon), method: :put do %>
                  Upvote
                  <%= coupon.get_upvotes.size %>
              <% end %>
            <% end %>

            <% if can? :downvote, coupon %>
                <%= link_to dislike_coupon_path(coupon), method: :put do %>
                  Downvote
                  <%= coupon.get_downvotes.size %>
              <% end %>
            <% end %>
          </div>
          <div class="cru"><%= link_to 'Show', coupon %></div>
          <div class="cru">|</div>
          <% if can? :edit, coupon %>
          <div class="cru"><%= link_to 'Edit', edit_coupon_path(coupon) %></div>
          <div class="cru">|</div>
          <% end %>
          <% if can? :destroy, coupon %>
          <div class="cru"><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <% end %>
        </div>
    </div>
  <% end %>

<br>

<%= link_to 'New Coupon', new_coupon_path %>
