<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<%= image_tag(@coupon.photo_url, width: '250')%>

<p>
  <strong>Value:</strong>
  <%= @coupon.value %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @coupon.expiration %>
</p>

<h2>Categorias</h2>
<%= form_tag do %>
  <table>
    <thead>
      <tr>
        <th>Categorias Seleccionadas</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <% if @coupon_categories.include? category %>
          <tr>
            <td><%= category.name %></td>
          </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if can? :edit, @coupon %>
  <%= link_to 'Edit', edit_coupon_path(@coupon) %>
<% end %> |
<%= link_to 'Back', coupons_path %>
